:root {
  --grey: #7287ae;
}
body {
  background-image: url("../images/Background.png");
  overflow-x: hidden;
}
.shape {
  height: 0px;
}
h1 {
  /* font-size: 70px; */
  font-size: calc(64px + 2.2vw);
  margin-bottom: 20px;
  padding-top: 100px;
}
h3 {
  margin: -2px;
}
#toggler-icon {
  font-size: 30px;
  color: white;
}
.navbar button{
  border: 1px solid white;
}

/* Navbar starts here  */
.sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: var(--grey);
}
.navbar img {
  max-width: 25%;
}
.navbar {
  height: 80px;
}

.navbar a {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.navbar .nav-link {
  border-radius: 15px;
}
.navbar .nav-link.active {
  border: 2px solid red;
  background-color: red;
  border-radius: 15px;
}
.navbar a {
  text-decoration: none;
}

/* Banner starts here */

.banner {
  background-color: var(--grey);
}
.wavepic {
  width: 100%;
}
#shape1 {
  position: relative;
  left: 150px;
  top: -102px;
  float: left;
}
#shape2 {
  position: relative;
  right: -60px;
  bottom: 375px;
  float: right;
  transform: rotate(90deg);
}

/* popular menu starts here  */

.popular-menu h2 {
  color: var(--grey);
  font-size: calc(14px + 2.2vw);
}

.product-details {
  background-color: white;
}
.btn1 {
  background-color: var(--grey);
  color: white;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
#ourMenu {
  padding-top: 60px;
}
#shape3 {
  position: relative;
  right: 4px;
  top: -75px;
  float: right;
}

/* Promo section starts here   */
.promo h2 {
  font-weight: 700;
  font-size: 55px;
}
.promo p {
  font-weight: 400;
  font-size: 25px;
}

#shape4 {
  position: relative;
  right: -207px;
  top: -54px;
}
#shape5 {
  position: relative;
  right: 85px;
  top: 654px;
  float: right;
}

/* Order section starts here  */

.order {
  background-color: var(--grey);
}
.order-icon {
  font-size: 90px;
  /* background-color: red; */
  /* border: 2px solid red; */
  color: white;
}

/* Free Delivey starts here  */
.free-delivery {
  color: var(--grey);
  padding-bottom: 90px;
  background-image: url("/assets/images/itemphoto6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#shape6 {
  position: relative;
  right: 27px;
  top: 37px;
  float: right;
}

/* Credit section start here */
.credit-sec .quote {
  font-size: 80px;
  color: var(--grey);
}
.socials i {
  margin: 20px 0px;
  font-size: 30px;
  color: white;
  /* background: red; */
}
.credit-sec h1 {
  color: var(--grey);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
}
.credit-sec h2 {
  padding-top: 10px;
  color: var(--grey);
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.btn2 {
  background-color: var(--grey);
  color: white;
  padding: 20px 60px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
  font-weight: 600;
}
.socials .round {
  background-color: var(--grey);
  display: inline-block;
  border-radius: 50%;
}

.wave2 {
  transform: rotate(180deg);
}
.footer {
  margin-top: -2px;
  background-color: var(--grey);
  padding-bottom: 80px;
}
.footer .links a {
  font-size: 23px;
}
.footer h5 {
  font-size: 25px;
  font-weight: 400;
}

/* Promo section h2 */
@media screen and (max-width: 991px) {
  .promo h2 {
    font-size: 26px;
  }
  .promo p {
    font-size: 16px;
  }
  .promo .btn1 {
    font-size: 10px;
    padding: 8px 40px;
  }
  .btn2 {
    font-size: 15px;
  }
}

/*Toggler Background*/
#nav-container {
  background-color: var(--grey) !important;
}
@media (max-width: 767px) {
  .navbar img {
    max-width: 45%;
  }
  .navbar {
    /* height: 500vh; */
  }
  #nav-container .last {
    margin-bottom: 50px;
  }
}
